.main-content {
    @include flex-display(flex, column, space-around, 100%);
}

.left-nav {
    background-color: #9999FF;
    margin-bottom: 4px;
    height: 60px;
    & svg {
        margin: 10px 10px;
        border-bottom: 2px solid black;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}

.traffic-widget {
    @include flex-display(flex, row, space-between, 100%);
    margin: 20px 10px;
    & h2 {
        flex-grow: 2;
    }
}

.social {
    @include flex-display(flex, column, space-between, 100%);
    & .wrapper {
        @include flex-display(flex, row, space-around, 90%, center);
        height: 100px;
        margin: 10px auto;
        background-color: $light-blue;
        border-radius: 8px;
    }
    & .icon {
        display: flex;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background-color: $hard-blue;
        & svg {
            margin: auto;
            fill: #FFF;
        }
    }
    & .state {
        @include flex-display(flex, column, space-between, 40%);
        & h4 {
            color: $hard-blue-l;
            font-size: 1.3em;
            margin: 10px 0;
        }
        & span {
            font-size: 2em;
        }
    }
}

.container {
    @include flex-display(flex, column, space-between, 90%, center);
    margin: $auto;
}

.member-info {
    @include flex-display(flex, row, space-around, 100%, center);
    border-bottom: 2px solid rgba(175, 92, 138, 0.1);
    margin-bottom: 10px;
    padding-bottom: 10px;
    & .member-name {
        font-size: 1.1em;
        color: rgba(95, 116, 207, 0.9);
    }
    & .join-date {
        font-size: 1.1em;
        color: $text-black-l;
    }
    & .email {
        font-size: 1em;
        color: $text-black-l
    }
}

.activity-details {
    @include flex-display(flex, row, space-around, 100%, center);
    border-bottom: 2px solid rgba(175, 92, 138, 0.1);
    margin-bottom: 10px;
    padding-bottom: 10px;
    & img{
        margin-right: 4px;

    }

    & .activity-time {
        color: #0066CC;
    }
    & .activity-name {
        font-size: 1.2em;
        color: $text-black-l;
    }
    & .activity-arrow {
        width: 20px;
        height: 20px;
    }
}

.info {
    width: 86%;
}
