header {
    @include flex-display(flex, row, space-between, 100%);
    background-color: #9900CC;
    height: 80px;
    & h1 {
        font-size: 1.2em;
        padding: 6px;
        & b {
            font-size: 1.3em;
        }
    }
}

.notification {
    @include flex-display(flex, row, space-around, 50%, center);
    & h2 {
        font-size: 1em;
        padding: 8px;
        border-left: 2px solid #5D625C;
    }
    & img {
        display: none;
        @include media(tablet) {
            display: inline-block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
    & svg {
        width: 24px;
        height: 24px;
    }
}
