.alert {
    @include flex-display(flex, row, space-around, 96%);
    background: #D291DD;
    border: 4px solid #ccc;
    border-radius: 5px;
    height: 65px;
    margin: 10px $auto;
    width: 96%;
    @include media(laptop) {
            height: 55px;
        }
    & span {
        font-family: $main-font-2;
        color: $head-color;
        padding: 8px 0;
        @include media(tablet) {
            width: 100%;
            font-size: 1.1em;
            
        }
        @include media(laptop) {
            font-size: 1.3em;
        }
    }
    & a {
        margin-top: 4px;
    }
}

.close-thik:after {
    content: '✖';
    margin: 1px 3px;
}

.option {
    @include flex-display(flex, row, space-between, 100%, center);
    margin: 13px auto;
    @include media(tablet) {
        margin: 16px auto;
    }
    & .label {
        @include font-fam-size( 1em, $main-font-2, 100, $text-black-l)
    }
}

//////////*  graph duration button styles */////////////
.time-button{
    @include font-fam-size( 1em, $main-font-2, bold, $dark-purple);
    text-decoration: none;


}

.active {
    width: 80px;
    height:20px;
    background-color: black;
    border-radius: 20px;
    border: 2px solid $text-black-l;
    color: $highlight;
}





//////////*  submit button styles */////////////
.action-button {
    border: none;
    padding: 10px 40px;
    border-radius: 8px;
    color: #FFF;
    text-decoration: none;
}

.animate {
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.blue {
    background-color: $hard-blue;
}

.action-button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
}

.wrapper-button {
    @include flex-display(flex, row, space-between, 100%);
    .small-button {
        margin: 10px auto;
        width: 49%;
    }
}

.large-button {
    margin: 10px auto;
    width: 100%;
}

//////////*  check slider styles */////////////
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $hard-blue-l;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: $button-color;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: $dark-purple;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
      background-color: $highlight;
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
#btn-settings-cancel{

        background-color: grey;
}
