#search{

	width: 96%;
	height: 40px;
	padding:8px;
	margin:  10px $auto;
	border-radius: 10px;
	border: 2px solid #815889;
	font-size: 1em;

}

main h2{
		float:left;
		
		font-size: 2em;

}

.traffic-h2{
	width: 100px;
	margin:10px 0;


}


