#search ,#search-user{
    @include button-styles(96%,40px,10px $auto,$button-color,8px,1.2em);
    border-radius: 10px;
    border: 2px solid #815889;
    
}

#user-message{
    @include button-styles(96%,80px,10px $auto,$button-color,10px,1.1em);
	
    border-radius: 10px;
    border: 2px solid #815889;
   

}
#user-timezone{
    @include button-styles(100%,40px,10px $auto,$button-color,8px,1em);
   border: 2px solid $dark-purple;
border-radius: 6px;


}




main h2 {
    float: left;
    font-size: 2em;
}

.traffic-h2 {
    width: 100px;
    margin: 10px 0;
    @include media(tablet) {
            margin-top:9px;
              margin-bottom: 40px;
           }


}


