* {
    box-sizing: border-box;
}

body {

 
    text-align: center;
    font-family: $main-font;
    color: #E7F0E2 ;
    background: $main-background-color;
}


/* Link Styles */

a {
    text-decoration: none;
    color: $link-color;
      &:hover {
          color: #9968FF;
      }
}

h2 {
  color: $text-black-l;

}

