* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: $main-font;
    color: #E7F0E2;
    background: $main-background-color;
}


/* Link Styles */

a {
    text-decoration: none;
    color: $link-color;
}

h2 {
    color: $text-black;
}

legend {
    display: none;
}

fieldset {
    border: none;
    width: 100%;
    padding: 0;
    & .none {
        display: none;
    }
}

form {
    width: 100%;
}

#donut-chart {
    @include media(tablet) {}
    @include media(laptop) {}
}

canvas {
    padding: 10px;
    width: 100% !important;
    height: auto !important;
    max-height: 400px;
    @include media(tablet) {
        padding: 0;
    }
    @include media(laptop) {
        max-height: 500px;
    }
}

// popup alert styles\\
.message-alert {
    display: none;
    @include font-fam-size( 1.2em, $main-font-2, bolder, $text-black);
    background-color: crimson;
    width: 96%;
    height: 70px;
    margin: 10px auto;
    padding: 10px;
    font-size: 1.1em;
    border-radius: 10px;
    border: 4px solid #815889;
}
